In [2]:
import pandas as pd

## Panda Series

In [78]:
cereals = pd.Series(data = [40, 10, 'No', 'Yes'], index = ['Cheerios', 'Froot Loops','Kix', 'Honetcomb'])

cereals

Cheerios        40
Froot Loops     10
Kix             No
Honetcomb      Yes
dtype: object

In [4]:
# We print some information about Groceries
print('Groceries has shape:', cereals.shape)
print('Groceries has dimension:', cereals.ndim)
print('Groceries has a total of', cereals.size, 'elements')

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements

In [6]:
# We print the index and data of Groceries
print('The data in Groceries is:', cereals.values)
print('The index of Groceries is:', cereals.index)

The data in Groceries is: [40 10 'No' 'Yes']
The index of Groceries is: Index(['Cheerios', 'Froot Loops', 'Kix', 'Honetcomb'], dtype='object')

### ___Accessing and Deleting Elements in Pandas Series___

___Accessing with index label___

In [80]:
# We access elements in Groceries using index labels:

print("Do we nedd kix and Honetcomb: \n", cereals[['Kix', 'Honetcomb']])
print()

print("How many Froot Loops do we need to buy: \n", cereals['Froot Loops'])

Do we nedd kix and Honetcomb:
 Kix           No
Honetcomb    Yes
dtype: object

How many Froot Loops do we need to buy:
 10

___Acessing with `Series.loc(label)`___

In [12]:
# we use loc to access index labels

print("How many Froot Loops do we need to buy: \n", cereals.loc['Froot Loops'])

How many Froot Loops do we need to buy:
 10

___Acessing elements using numerical indices :  `Series.iloc(indices)`___

In [15]:
# we use iloc to access

print("How many Froot Loops do we need to buy: \n", cereals.iloc[1])

How many Froot Loops do we need to buy:
 10

In [16]:
# We use a single numerical index
print("How many Froot Loops do we need to buy: \n", cereals[1])
print()

print("How many Froot Loops do we need to buy: \n", cereals[-3])

How many Froot Loops do we need to buy:
 10

How many Froot Loops do we need to buy:
 10

___Mutate elements using index labels: `Series[label]`___

In [23]:
# Display original cereal list

print('Original Cereal List: \n', cereals)

## Change the number of Froot Looops to 19

cereals['Froot Loops'] = 19

print()
print('The modeified list: \n', cereals)

Original Cereal List:
 Cheerios        40
Froot Loops     10
Kix             No
Honetcomb      Yes
dtype: object

The modeified list:
 Cheerios        40
Froot Loops     19
Kix             No
Honetcomb      Yes
dtype: object

___Mutate elements using numerical indices: `Series[indices]`___

In [24]:
cereals[0] = 55

print()
print('The modeified list: \n', cereals)

The modeified list:
 Cheerios        55
Froot Loops     19
Kix             No
Honetcomb      Yes
dtype: object

___Delete elements out-of-place using `Series.drop(label)`___

`Series.drop(label)` method drops elements from the Series out-of-place, meaning that it doesn't change the original Series being modified

In [28]:
# We remove froot loops from our cereal list. The drop function removes elements out of place
print()
print('We remove froot loops (out of place):\n', cereals.drop('Froot Loops'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our cereal list again

print()
print('Cereal List after removing froot loops out of place:\n', cereals)

We remove froot loops (out of place):
 Cheerios      40
Kix           No
Honetcomb    Yes
dtype: object

Cereal List after removing froot loops out of place:
 Cheerios        40
Froot Loops     10
Kix             No
Honetcomb      Yes
dtype: object

___Delete elements in-place using `Series.drop(label, inplace = True)`___

Setting the keyword inplace to True in the `.drop()` method permanently deletes the element from the panda series

In [34]:
# We remove froot loops from our cereal list. The drop function removes elements in place
print()
cereals.drop('Froot Loops', inplace = True)


# When we remove elements in place the original Series is modified. To see this
# we display our cereal list again

print()
print('Cereal List after removing froot loops out of place:\n', cereals)

Cereal List after removing froot loops out of place:
 Cheerios      40
Kix           No
Honetcomb    Yes
dtype: object

### ___Arithmetic Operations on Pandas Series___

In [37]:
# We create a Pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['mangos', 'oranges', 'apples'])

fruits

mangos     10
oranges     6
apples      3
dtype: int64

In [48]:
print()
print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits

print()
print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits


# We add 2 only to the apples
print()
print('Amount of apples + 2 = ', fruits['apples'] + 2)

##  
print()
print('Amount of apples + 2 = ', fruits.iloc[-1] + 2)

###
print()
print('Amount of apples + 2 = ', fruits.iloc[2] + 2)


###
print()
print('Amount of apples + 2 = ', fruits.loc['apples'] + 2)

fruits + 2:
 mangos     12
oranges     8
apples      5
dtype: int64

fruits - 2:
 mangos     8
oranges    4
apples     1
dtype: int64

Amount of apples + 2 =  5

Amount of apples + 2 =  5

Amount of apples + 2 =  5

Amount of apples + 2 =  5

In [42]:
# We import NumPy as np to be able to use the mathematical functions
import numpy as np

# We apply different mathematical functions to all elements of fruits
print()
print('EXP(X) = \n', np.exp(fruits))
print() 
print('SQRT(X) =\n', np.sqrt(fruits))

EXP(X) =
 mangos     22026.465795
oranges      403.428793
apples        20.085537
dtype: float64

SQRT(X) =
 mangos     3.162278
oranges    2.449490
apples     1.732051
dtype: float64

### ___Panda DataFrames___

In [49]:
# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))

<class 'dict'>

In [50]:
# We create a Pandas DataFrame by passing it a dictionary of Pandas Series
shopping_carts = pd.DataFrame(items)

# We display the DataFrame
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [51]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

___Attributes of DataFrame___

In [52]:
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print('\nThe data in shopping_carts is:\n', shopping_carts.values)
print('\nThe row index in shopping_carts is:', shopping_carts.index)
print('\nThe column index in shopping_carts is:', shopping_carts.columns)

shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [57]:
## Create a DataFrame that only has Bob's data

bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
print(bob_shopping_cart)
print()

###

item_bob= {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch'])}

dff = pd.DataFrame(item_bob)
print(dff)

       Bob
bike   245
pants   25
watch   55

       Bob
bike   245
pants   25
watch   55

___Selecting specific rows of a DataFrame___

In [58]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['bike', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

        Bob  Alice
bike  245.0    500
book    NaN     40

___Create a DataFrame using a dictionary of lists, and custom row-indexes (labels)___

In [59]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# We display the DataFrame
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

___Create a DataFrame using a of list of dictionaries___

In [124]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [125]:
#### Adding Labels

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

#### ___Accessing Elements in Pandas DataFrames___

In [65]:
store_items.head()

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [64]:
store_items.head(n = 1)

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [75]:
# We access columns and elements using labels
print('How many bikes are in each store: \n', store_items[['bikes']])

print('\n')
print('How many bikes and pants are in each store: \n', store_items[['bikes', 'pants']])

How many bikes are in each store:
          bikes
store 1     20
store 2     15


How many bikes and pants are in each store:
          bikes  pants
store 1     20     30
store 2     15      5

In [91]:
###  Acess each rows

store_items.loc[['store 1']]

bikes      20.0
pants      30.0
watches    35.0
glasses     NaN
Name: store 1, dtype: float64

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [93]:
print('How many bikes are in Store 2:')
store_items['bikes']['store 2']

How many bikes are in Store 2:

store 1    20
store 2    15
Name: bikes, dtype: int64

In [96]:
print('How many bikes are in Store 1 and Store 2:')
store_items['bikes'][['store 1', 'store 2']]

How many bikes are in Store 1 and Store 2:

store 1    20
store 2    15
Name: bikes, dtype: int64

####  ___Add a column to an existing DataFrame___

In [126]:
store_items['shirts'] = [15,2]

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

In [127]:
# We make a new column called suits by adding the number of shirts and pants
store_items['suits'] = store_items['pants'] + store_items['shirts']

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

####  ___Add a row to an existing DataFrame___ 

To add a row to an existing DataFrame:
- Create the row as a DataFrame
- Append the new DataFrame (newly created row) to the already existing DataFrame using

In [128]:
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

# We create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# We display the items at the new store
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

In [129]:
store_items = pd.concat([store_items, new_store])

# We display the modified DataFrame
store_items

pd.conca

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

####  ___Add new column at a specific location : `dataframe.insert(loc,label,data)`___

In [130]:
store_items.insert(4, 'shoes', [8,5,0])

# we display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shoes  shirts  suits
store 1     20     30       35      NaN      8    15.0   45.0
store 2     15      5       10     50.0      5     2.0    7.0
store 3     20     30       35      4.0      0     NaN    NaN

#### ___Delete one column from a DataFrame: `dataframe.pop(label)`___

`.pop()`: allows us to delete only columns

In [131]:
store_items.pop('glasses')

# we display the modified DataFrame
store_items

         bikes  pants  watches  shoes  shirts  suits
store 1     20     30       35      8    15.0   45.0
store 2     15      5       10      5     2.0    7.0
store 3     20     30       35      0     NaN    NaN

#### ___Delete rows or columns from a DataFrame: `dataframe.drop(label)`___

`.drop()`: allows us to delete columns or rows

In [132]:
# We remove the watches and shoes columns
store_items = store_items.drop(['watches', 'pants'], axis = 1)

# we display the modified DataFrame
store_items

         bikes  shoes  shirts  suits
store 1     20      8    15.0   45.0
store 2     15      5     2.0    7.0
store 3     20      0     NaN    NaN

In [133]:
store_items = store_items.drop(['store 2', 'store 1'], axis = 0) #axis = 0 implies row and axis = 1 implies column

# we display the modified DataFrame
store_items

         bikes  shoes  shirts  suits
store 3     20      0     NaN    NaN

#### ___Modify column and row label: `dataframe.rename()`___

- column: `dataframe.rename(columns = {current_name: new_name})`
- row: `dataframe.rename(index = {current_name: new_name})`

In [135]:
# We change the column label bikes to hats
store_items = store_items.rename(columns = {'bikes': 'hats'})

# we display the modified DataFrame
store_items

         hats  shoes  shirts  suits
store 3    20      0     NaN    NaN

In [136]:
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
store_items

            hats  shoes  shirts  suits
last store    20      0     NaN    NaN

#### ___Use existing columns values as row-index___

In [138]:
store_items = store_items.set_index('hats')

# we display the modified DataFrame
store_items

      shoes  shirts  suits
hats
20        0     NaN    NaN

#### ___Resetting Index___

In [139]:
store_items.reset_index()

   hats  shoes  shirts  suits
0    20      0     NaN    NaN